<html>
<head>
<title>Comitup Confirm Selection</title>
</head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="../static/images/GoofyFPV_noText_transparent.png" width="80" height="80" class="d-inline-block align-bottom" alt="">
    Comitup
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="">Home</a>
	      </li>
	    </ul>
		</div>
</nav>
<div class="container-fluid">
<h1>Confirm Selection</h1>
<div class="container-fluid">
Press the Connect button to connect this device to {{ ssid }}. <br><br>

{% if mode == 'single' %}
This will terminate the current hotspot. Connect to {{ ssid }} for Race access.<br><br>

If the connection fails, this hotspot will be re-created.<br><br>
{% else %}
The hotspot will remain, but this web service will be terminated.<br><br>

If the connection fails, the web service will be restored.<br><br>
{% endif %}

<form action="connect" method="post">
<input type="hidden" name="ssid" value="{{ ssid_encoded }}">
Password (if required): <input type='password' name='password'><br><br>

<input class="btn btn-primary" type="submit" value="Connect">


</form>
</div>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <!--<script src="/umd/popper.min.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
