<html>
<head>
<title>Comitup Connection Attempt</title>
</head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="../static/images/GoofyFPV_noText_transparent.png" width="80" height="80" class="d-inline-block align-bottom" alt="">
    Comitup
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="">Home</a>
	      </li>
	    </ul>
		</div>
</nav>
<div class="container-fluid">
<h1>Comitup Connection Attempt</h1>
Connection to {{ ssid }} is being attempted.
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <!--<script src="/umd/popper.min.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
