<html>
<head>
<title>Race Manager</title>
</head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="../static/images/GoofyFPV_noText_transparent.png" width="80" height="80" class="d-inline-block align-bottom" alt="">
    Comitup
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="">Home</a>
	      </li>
	    </ul>
		</div>
</nav>
<div class="container-fluid">
<h1>Comitup</h1>
<div class="container-fluid">
<h4>Access Points:</h4>
<ul style="list-style-type:none">
{% for point in points %}
<li><svg height="12" id="lock" viewBox="0 0 32 32" width="12" xmlns="http://www.w3.org/2000/svg">
{% if point.security == 'encrypted' %}
<path d="M22 16 L22 12 A6 6 0 0 0 10 12 L10 16 z M4 16 L6 16 L6 12 A10 10 0 0 1 26 12 L26 16 L28 16 L28 30 L4 30 z"/>
{% else %}
<path d="z"/>
{% endif %}
</svg>
<a class="btn btn-link" href="confirm?ssid={{ point.ssid_encoded }}&encrypted={{ point.security }}">{{ point.ssid }}</a>
{% endfor %}
</ul>
<form action="confirm">
<input type="hidden" name="encrypted" value="encrypted">
<h4>Hidden or missing SSID:</h4>
<input type="text" name="ssid">
<input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <!--<script src="/umd/popper.min.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>


