<head>
<title>Comitup Confirm Selection</title>
</head>
<body>
<h1>Comitup Confirm Selection</h1>
Press the Connect button to connect this device to {{ ssid }}. <br><br>

This will terminate the current hotspot. Connect to {{ ssid }} for access.<br><br>

If the connection fails, this hotspot will be re-created.<br><br>

<form action="connect" method="post">
<input type="hidden" name="ssid" value="{{ ssid }}">
{% if encrypted == "encrypted" %}
Password: <input type='text' name='password'><br><br>
{% endif %}

<input type="submit" value="Connect">


</form>
</body>
</html>
