<html>
<head>
<title>Comitup Access Point Selection</title>
</head>
<body>
<h1>Comitup Access Point Selection</h1>
Select an access point.<br/><br/>
<ul style="list-style-type:none">
{% for point in points %}
<li><svg height="12" id="lock" viewBox="0 0 32 32" width="12" xmlns="http://www.w3.org/2000/svg">
{% if point.security == 'encrypted' %}
<path d="M22 16 L22 12 A6 6 0 0 0 10 12 L10 16 z M4 16 L6 16 L6 12 A10 10 0 0 1 26 12 L26 16 L28 16 L28 30 L4 30 z"/>
{% else %}
<path d="z"/>
{% endif %}
</svg>
<a href="confirm?ssid={{ point.ssid }}&encrypted={{ point.security }}">{{ point.ssid }}</a>
{% endfor %}
</ul>
<form action="confirm">
<input type="hidden" name="encrypted" value="encrypted">
Hidden or missing SSID: 
<input type="text" name="ssid">
<input type="submit" value="submit">
</form>
</body>
</html>


