[Unit]
Description=Comitup Wifi Management
After=NetworkManager.service Avahi.service
Requires=avahi-daemon.service
Documentation=man:comitup(8)

[Service]
Type=dbus
BusName=com.github.davesteele.comitup
ExecStart=/usr/sbin/comitup
# PrivateTmp=true
# PrivateDevices=yes
# PrivateNetwork=yes
# ProtectSystem=full
# ProtectHome=yes
# MountFlags=slave
# NoNewPrivileges=yes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
