Source: comitup
Section: net
Priority: optional
Maintainer: David Steele <steele@debian.org>
Build-Depends:
    debhelper-compat (=12),
    dh-sequence-python3,
    dh-python,
    python3-all,
    python3-setuptools,
    python3-pytest,
    python3-pytest-runner,
    python3-mock,
    pandoc,
    python3-flask,
Standards-Version: 4.3.0
Rules-Requires-Root: binary-targets
Homepage: https://davesteele.github.io/comitup/
Vcs-Git: https://github.com/davesteele/comitup.git -b debian
Vcs-Browser: https://github.com/davesteele/comitup

Package: comitup
Architecture: all
Depends:
    ${python3:Depends},
    ${misc:Depends},
    systemd,
    python3-crypto,
    python3-networkmanager (>= 2.1-1),
    python3-pkg-resources,
    python3-gi,
    python3-flask,
    python3-dbus,
    iw,
    dnsmasq-base,
    avahi-daemon,
Suggests: python3-tabulate
Description: bootstrap Wifi using Wifi
 Comitup will attempt to connect to wifi using an established connection. If
 that fails, it creates a hotspot and web service to aid in configuring a
 connection.
