<!doctype html>
<html itemscope itemtype="http://schema.org/Product">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Comitup</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta itemprop="name" content="Comitup Wifi Bootstrap Service">
    <meta itemprop="description" content="Bootstrap Wifi using Wifi">
    <meta itemprop="image" content="images/IMG_20160716_102251.jpg">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Comitup</h1>
        <p>Bootstrap Wifi networking using the Wifi connection</p>

        <p class="view"><a href="https://github.com/davesteele/comitup">View the Project on GitHub <small>davesteele/comitup</small></a></p>

<iframe width="265" height="150" src="https://www.youtube.com/embed/HY0HdzxmAws" frameborder="0" allowfullscreen></iframe>

      </header>
      <section>
        <h3>Wifi Network Bootstrap for the Raspberry Pi 3</h3>

<p>Comitup is a software package that provides a service to establish Wifi
networking on a headless computer (that is, one with no video, keyboard, or mouse).</p>

<p>The Comitup Image is a microSD disk image for the Raspberry Pi 3, providing
an operating system with the comitup service included. The Comitup Image is an
extension of standard Raspbian OS with the following capabilities:</p>

<ul>
<li>The comitup service, which automatically connects to an established 
Wifi Access Point, if possible. Otherwise, it will create a stand-alone 
Access Point with the name (SSID) 'comitup-&lt;nnnn&gt;', 
where '&lt;nnnn&gt;' is a unique, persistent four-digit number.</li>
<li>Defined ZeroConf mdns address name for
'comitup-&lt;nnnn&gt;.local', advertising the IP address of the Raspbery
Pi on Wifi.</li>
<li>A comitup-web service, which provides a web interface for selecting and 
authenticating against an existing Access Point.</li>
<li>If two wifi interfaces are available on the device, the comitup hotspot
will remain on one, and the other will be used for the upstream connection.
Routing/masquerading between the two networks is established automatically.</li>
<li>A comitup-cli command-line utility for interacting with comitup.</li>
<li>The ssh service is enabled by default. Be sure to change the "pi" user
password</li>
</ul>


<h3>Getting Comitup</h3>

<p>You can get Comitup by installing the package, or by downloading a Raspbian image including the package.</p>

<h4>Package Installation</h4>

<ul>
	<li>Raspbian/Debian Stretch users can install the package with "sudo apt-get install comitup".</li>
	<li>New package versions are available in the <a href="archive.html">Package Archive</a> or the <a href="ppa.html">comitup PPA repository</a>.</li>
	<li>Remove any references to wifi interfaces in "/etc/network/interfaces" so that Network Manager/Comitup can manage them.</li>
</ul>

<h4>Comitup Image</h4>
<p>To <a href="https://github.com/davesteele/comitup/wiki/Tutorial#copy-the-image-to-a-microsd-card">burn</a> onto an SD card for the Raspberry Pi.</p>
<ul>
{% for img in ['full', 'lite'] %}
<li>Comitup {{ imgs[img]['name'] }} Image ({{ imgs[img]['uncompressedstr'] }}B, {{ imgs[img]['compressedstr'] }}B compressed)<br>
<ul>
<li><a href="https://steele.debian.net/comitup/{{ imgs[img]['filename'] }}">Download</a>
| <a href="torrent/{{ imgs[img]['filename'] }}.torrent">Torrent</a>
| <a href="{{ imgs[img]['magnet'] }}">Magnet</a></li>
<li><a href="torrent/{{ imgs[img]['filename'] }}.sha1.txt">SHA1</a>
| <a href="torrent/{{ imgs[img]['filename'] }}.asc.txt">PGP</a></li>
<li><a href="https://steele.debian.net/comitup/{{ imgs[img]['infoname'] }}.txt">Info</a></li>
</ul>
</li>
{% endfor %}
</ul>

<h3>Documentation</h3>
<ul>
<li>The <a href="https://github.com/davesteele/comitup/wiki">Comitup
  Wiki</a> (with <a href="https://github.com/davesteele/comitup/wiki/Tutorial">Tutorial</a>).</li>
<li>Man pages
<ul>
<li><a href="man/comitup.8.html">comitup (8)</a> (<a href="man/comitup.pdf">pdf</a>)</li>
<li><a href="man/comitup-conf.5.html">comitup-conf (5)</a> (<a href="man/comitup-conf.pdf">pdf</a>)</li>
<li><a href="man/comitup-web.8.html">comitup-web (8)</a> (<a href="man/comitup-web.pdf">pdf</a>)</li>
<li><a href="man/comitup-cli.1.html">comitup-cli (1)</a> (<a href="man/comitup-cli.pdf">pdf</a>)</li>
</ul>

</li>
<li><a href="https://github.com/davesteele/comitup/blob/debian/debian/changelog">Changelog</a></li>
</ul>

<h3>Support/Feedback</h3>
<ul>
<li><a href="https://github.com/davesteele/comitup/issues" >Issues</a></p></li>
<div class="g-plus" data-action="share"></div>
</ul>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://plus.google.com/100462058146704694561?rel=author">David Steele</a> (<a href="https://github.com/davesteele">davesteele</a>)</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </body>
</html>
