<!DOCTYPE HTML>
<html>
<head>
<title>Redirecting to {{ deb }}</title>
<meta http-equiv="refresh" content="0; url=../deb/{{ deb }}"/>
</head>
<body>
<p>Downloading <a href="../deb/{{ deb }}">{{ deb }}</a></p>
<p>Press the Back button to return to your previous page.</p>
</body>
</html>
