<!DOCTYPE HTML>
<html>
<head>
<title>Redirecting to {{ img }}</title>
<meta http-equiv="refresh" content="0; url=https://steele.debian.net/comitup/{{ img }}"/>
</head>
<body>
<p>Downloading <a href="https://steele.debian.net/comitup/{{ img }}">{{ img }}</a></p>
<p>Press the Back button to return to your previous page.</p>
</body>
</html>
